* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a6847;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd700;
}

.menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0a6847;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
